{{#page/page-content}}

  <div class="c-notes-page__empty-message g-bg-theme-primary-1--100 u-transform-center u-absolute u-width-60 u-align-middle">
    <div class="u-absolute u-transform-center u-absolute u-align-middle">
      Select a notebook to get started!
    </div>
  </div>

{{/page/page-content}}
