{{#user-navbar
  class="u-z1 g-bg-theme-primary-1--700"
  size=toolbarSize
  data-test-selector="notes-page__toolbar" as |navbar|
}}

  {{#if (eq navbar 'navContent')}}

    {{#autocomplete-search
      class="c-notes-page__note-search-widget
             o-grid-cell
             u-ml-auto
             u-mr2
             u-relative
             u-fill-height"
      on-select=(route-action 'openNote')
      on-input=(perform noteSearchInputTask)
      searchDidExit=(action 'searchDidExit')
      searchResults=noteSearchResults
      displayProperty='title'
      ariaRole="combobox"
      tabindex="0"
      as |autocompleteSearch|
    }}
    {{!-- {{#autocomplete-search
      class="c-notes-page__note-search-widget
             o-grid-cell
             u-ml-auto
             u-mr2
             u-relative
             u-fill-height"
      on-select=(route-action 'openNote')
      on-input=(perform noteSearchInputTask)
      searchDidExit=(action 'searchDidExit')
      searchResults=noteSearchResults
      displayProperty='title'
      ariaRole="combobox"
      tabindex="0"
      as |focusedIndex
          selectedIndex
          isSearchDropdownOpen
          searchInputValue
          selectionWasMade
          onSearchInput
          searchDidExit
          autoCompleteContainerId
          autoCompleteListId
          autoCompleteListItemIdPrefix
          isAutocomplete|
    }} --}}

      {{autocomplete-search-input
        class="c-notes-page__note-search-widget-input
               o-grid-cell
               o-widget-box
               o-text-input
               g-border-none
               g-bg-theme-primary-1--300
               g-placeholder-currentColor
               g-theme-primary-1--100
               u-fill-height"
        placeholder="Search Notes"
        value=autocompleteSearch.searchInputValue
        isAutocomplete=autocompleteSearch.isAutocomplete
        owningListId=autocompleteSearch.autoCompleteListId
        on-input=autocompleteSearch.onSearchInput
        on-blur=autocompleteSearch.searchDidExit
        type="text"
        data-test-selector="notebook-notes-page__note-search-widget-input"
      }}

      {{#autocomplete-search-dropdown}}
        {{#autocomplete-search-results-list
          id=autoCompleteListId
          class="c-notes-page__note-search-widget-results-list
                 g-bg-white
                 g-grayscale-bl--secondary-text
                 g-box-shadow-2
                 g-list-reset
                 o-flex-grid
                 o-flex-grid--full
                 o-flex-grid--center"
          isShowing=autocompleteSearch.isSearchDropdownOpen
          data-test-selector="notebook-notes-page__note-search-widget-results"
        }}

          {{#each noteSearchResults as |note index|}}
            {{#autocomplete-search-results-option
              class="c-notes-page__note-search-widget-result-item o-list-item o-grid-cell g-border-bottom-s1 u-relative u-overflow-hide"
              item=note
              index=index
              idPrefix=autocompleteSearch.autoCompleteListItemIdPrefix
              isFocused=(eq index autocompleteSearch.focusedIndex)
              isSelected=(eq index autocompleteSearch.selectedIndex)
              onItemSelected=autocompleteSearch.selectionWasMade
            }}
              <a href="#" class="g-link-reset u-absolute u-transform-center u-width-80">{{note.title}}</a>
            {{/autocomplete-search-results-option}}
          {{else}}
            <li class="o-list-item o-grid-cell u-relative">
              <a href="#" class="g-link-reset u-absolute u-transform-center u-width-80">No matching results</a>
            </li>
          {{/each}}

        {{/autocomplete-search-results-list}}

      {{/autocomplete-search-dropdown}}
    {{/autocomplete-search}}

    {{x-select
      class="o-grid-cell
             o-grid-cell--auto
             c-notes-page__note-order-select
             c-form-field-select-input
             o-widget-box
             o-menu
             g-bg-theme-primary-1--300
             g-theme-primary-1--900
             g-border-none
             u-pl1
             u-pr2
             u-ml2
             u-mr2"
      optionClassNames="c-form-field-select-input__option"
      onSelectionChanged=(route-action 'noteSortingDidChange')
      content=noteSortOptions
      optionLabelKey='label'
      optionValueKey='code'
      selectedOption=currentSortOption
      data-test-selector="notebook-notes-page__note-order-select"
    }}
  {{/if}}

{{/user-navbar}}
