<section class="c-application-base__main-content-wrapper
                a-anim-ease-slideIn--light
                u-relative
                u-edge-top
                u-edge-left
                u-full-stretch
                u-min-width-breakpoint--sm
                u-fill-height
                u-z0
                u-overflow-hide">
  {{outlet}}
</section>
