.c-form-select-input {

  appearance: none;

  background-image: var(--background-image__form-field-select);
  background-image:
  image-set(
    url(var(--background-image__form-field-select)) 1x,
    url(var(--background-image__form-field-select--2x)) 2x
  );
  background-position: right 0.5em center;
  background-repeat: no-repeat;

  &__option {

  }

}
