<h2>Video</h2>
<h4>Select Members for Chat</h4>
<ul>
  <li>User 1</li>
  <li>User 2</li>
  <li>User 3</li>
</ul>
{{buttons/action-button
  class="g-bg-theme-primary-1--500 u-flow-middle u-mt3 u-mb3"
  title="Launch Session"
}}
{{!-- {{buttons/action-button
  class="g-bg-theme-primary-1--500"
  title="Launch Session"
  onPressed=(action 'launchVideoChatSession')
}} --}}
