/**
 * Component-level styles for a core button
 */
 .c-button {
   padding: 0.5em 0.9em;
   border: 0;
   transition-property: opacity;
   transition-duration: var(--anim-duration__color-shift);
   transition-timing-function: var(--easing__ease-out-cubic);

  &:disabled {
    opacity: 0.7;
    transition-timing-function: var(--easing__ease-in-cubic);
    cursor: not-allowed;
  }

  &--rounded {
    border-radius: var(--border-radius__button);
  }
  &--flat {
    border-radius: 0;
  }

   /*
    * Modifers that correspond to color variables allow us to
    * set the proper color on the button and animate it appropriately from there
    */
   /*&--primary-1-500 {
     background-color: var(--theme-color__primary-1--500);

     &:hover {
       background-color: var(--theme-color__primary-1--300);
     }
   }
   &--primary-2-500 {
     background-color: var(--theme-color__primary-2--500);

     &:hover {
       background-color: var(--theme-color__primary-2--300);
     }
   }

   &--primary-1-300 {
     background-color: var(--theme-color__primary-1--300);

    &:hover {
      background-color: var(--theme-color__primary-1--100);
    }
   }
   &--primary-2-300 {
     background-color: var(--theme-color__primary-2--300);

    &:hover {
      background-color: var(--theme-color__primary-2--100);
    }
   }*/

   /*&--left-align {
     justify-content: flex-start;
   }

   &--right-align {
     justify-content: flex-end;
   }*/

   &--fab {
     border-radius: 50%;
   }


   &--hover-highlight {

     transition: all var(--anim-duration__element-scaling--light) var(--easing__ease-out-cubic);

     &:hover {

     }
   }
 }
