.o-highlighted-on-hover::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  transition-property: opacity;
  transition-duration: var(--anim-duration__color-shift);
  transition-timing-function: var(--easing__ease-out-quad);
}

.o-highlighted-on-hover:hover::after,
.o-highlighted-on-hover:focus::after {
  opacity: 0.75;
  transition-timing-function: var(--easing__ease-in-sine);
}
