.c-switchblade-menu-handle-button {

  &.c-switchblade-menu-handle-button--main-menu {
    background-color: var(--theme-color__secondary-1--900);
    color: var(--theme-color__secondary-2--900);

    &.is-active {
      background-color: var(--theme-color__primary-1--500);
    }
  }

  &.c-switchblade-menu-handle-button--auxiliary {
    background-color: var(--theme-color__secondary-1--300);
    color: var(--theme-color__secondary-2--300);

    &.is-active {
      background-color: var(--theme-color__secondary-1--700);
    }
  }


  /*:active {
    background-color: hotpink;
  }*/

}
