.c-switchblade-menu-handle-button {

  &--main-menu {
    background-color: var(--theme-color__secondary-1--900);
    color: var(--theme-color__secondary-2--900);

    &.is-active {
      background-color: var(--theme-color__primary-1--500);
    }
  }

  &--auxiliary {
    background-color: var(--theme-color__secondary-1--300);
    color: var(--theme-color__secondary-2--300);

    &.is-active {
      background-color: var(--theme-color__secondary-1--700);
    }
  }

  &__label {
    /*transform: translateY(-50%);*/
  }


  /*:active {
    background-color: hotpink;
  }*/

}
