:root {

  --status-text-color__valid: hsla(100, 41%, 64%, 1.00);
  --status-text-color__invalid: hsla(355, 65%, 65%, 1.00);

  --status-background-color__valid: hsla(100, 41%, 64%, 1.00);
  --status-background-color__invalid: hsla(355, 65%, 65%, 1.00);
}
