<div class="c-login-page__form-card-wrapper u-absolute u-transform-center">

  {{#cards/modal-card
    class="c-login-page__form-card
           u-relative
           u-fit-width
           u-fill-height
           u-pt2
           u-pb2
           u-pl3
           u-pr3"}}

    {{login/login-page/login-page-form class="c-login-page__form" model=model}}

  {{/cards/modal-card}}
</div>
