.c-validated-form-field {

  &__input-container {
    height: var(--height__text-input);
  }
  &__input {
    padding: var(--padding__text-input);
    border-color: var(--grayscale__black-on-light--divider);
  }

  &__input.is-valid {
    outline: var(--status-text-color__valid);
    border-color: var(--status-text-color__valid);
  }

  &__input.has-error {
    outline: var(--status-text-color__invalid);
    border-color: var(--status-text-color__invalid);
  }
}
