{{component inputComponentName
  fieldId=fieldId
  value=value
  label=label
  placeholder=placeholder
  errors=errors
}}


{{#if showMessage}}
  <span class="g-status--error u-block">
    {{v-get model valuePath 'message'}}
  </span>
{{/if}}
