<header>
  <h2 class="g-theme-primary-3--500 u-align-center">{{notebook.title}}</h2>
</header>

<section class="u-mt2 u-relative">
  <p>Last Update <date>{{notebook.lastUpdatedAt}}</date></p>

  <small class="g-border-circle g-bg-theme-primary-1--700 u-absolute u-edge-right u-edge-right u-m1">
    {{notebook.notesCount}}
  </small>
</section>
