.c-homepage-page {

  .c-homepage-page__hero-section {
    height: var(--height__full-page-section);
    min-width: 100%;
    max-width: 100%;
    border-bottom-color: var(--theme-color__accent-1--100);
  }

  .c-homepage-page__content-section {

  }

  .c-homepage-page__greeting-card-wrapper {
    width: 25rem;
    height: 20rem;
  }

  .c-homepage-page__action-button {
    height: 3rem;
    width: 15.2rem;
  }
}
