<section class="c-homepage-page__hero-section
                u-fill-width
                g-border-bottom-s3
                g-bg-theme-gray--300
                g-theme-primary-2--300">

  <div class="u-fill-width--minus-p2 u-fill-height o-flex-grid u-pl2 u-pr2">

    <div class="o-grid-cell u-width-twoThirds">
      <h1 class="u-mt3 u-pl2 u-pr2">Welcome to Droplet</h1>
    </div>

    <div class="o-grid-cell
                o-grid-cell--flex-none
                o-flex-grid
                o-flex-grid--full
                o-flex-grid--justifyCenter
                o-flex-grid--center
                u-width-oneThird">

      <div class="o-grid-cell g-nearWhite">
        {{#link-to 'register'
          class="c-homepage-page__action-button
                 c-button
                 c-button--primary-2-500
                 c-button--hover-highlight
                 c-button--left-align
                 u-flow-middle
                 o-link--no-under"}}
          <span>REGISTER</span>
        {{/link-to}}

        {{#link-to 'login'
          class="c-homepage-page__action-button
                 c-button
                 c-button--primary-2-300
                 c-button--hover-highlight
                 c-button--left-align
                 o-link--no-under
                 u-flow-middle
                 u-mt3"}}
          <span>LOGIN</span>
        {{/link-to}}
      </div>

    </div>

  </div>

</section>
